
header{

    background-color: rgb(245, 228, 228);
    
}

footer {
    background-color: rgb(245, 228, 228);
}
body {
    font-size: 150%;
    font-family: sans-serif;
    background-color: rgb(154, 156, 156)
  }
  h1 {
    color:rgb(8, 7, 8) ;
   
    font: italic 180% fantasy;

    text-align: left
   }

   p{
       font-family: cursive;
       font-size: 20px;
   }
   
   button{
    padding: 20px;
    border: 7px rgb(250, 209, 233) solid;
    border-radius: 20px;}

    .blueBackground {
        background-color: aqua;
    }
    
    .greenBackground {
        background-color: green;
    }                
                