body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: silver;
    
    
  }
  h1 {
    color:palevioletred ;
   
    font: italic 180% fantasy;

    text-align: center
   }

   footer {
     text-align: center
   }

   header  {
    font-weight: bold;
    color:palevioletred ;
    background-color: rgb(80, 82, 83);
    text-align: center;
}

footer { color:palevioletred ;
  background-color: rgb(80, 82, 83);
  text-align: center;}
  