
body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: whitesmoke
  }
  h1 {
    color:palevioletred ;
   
    font: italic 180% fantasy;

    text-align: left
   }

button {
    background-color:burlywood;
    border: 2px blueviolet;
    color: rgb(19, 22, 15);
    text-align: center;    
    font-size: 16px;
}